<!DOCTYPE html>
<html>
    <head>
    	<title>Color Game</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css"> 
        <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">
    </head>
    <body>
        <div id="main">
            <div class="overlay">
                <div class="correct">
                    <h1 class="after">Correct!</h1>
                    <button id="reset">Next Colors</button>
                </div>
                <div class="wrong">
                    <h1 class="after">Nice Try!</h1>
                    <p class="after scoreAfter">Score: <span id="score1"></span></p>
                    <button id="reset1">Try Again</button>
                </div>
            </div>
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <p>RGB color values are specified with: rgb(red, green, blue).</p>
              <p>Each parameter (red, green, and blue) defines the intensity of the color as an integer between 0 and 255.</p>
              <p>For example, rgb(0, 0, 255) is rendered as blue, because the blue parameter is set to its highest value (255) and the others are set to 0.</p>
            </div>
            <h1 class="banner">
            	<span class="yellow">The</span>
            	<span class="green">Great</span>
            	<br>
                <span id="colorDisplay">RGB</span>
             	<br>
             	<span class="red">Color</span>
             	<span class="orange">Game</span>
            </h1>
            <div id="stripe">
                <div class="info">
                	<button id="help" class="selected">Need Help?</button>
                	<span id="scoreDisplay">Score:<span id="score">0</span></span>
                </div>
            </div>
            <div id="container">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div> 
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script>
            var numSquares = 3;
            var colors = generateRandomColors(numSquares);
            var squares = document.querySelectorAll(".square");
            var pickedColor = pickColor();
            var colorDisplay = document.querySelector("#colorDisplay");
            var banner = document.querySelector(".banner");
            var h1 = document.querySelectorAll(".after");
            var resetButton = document.querySelector("#reset");
            var resetButton1 = document.querySelector("#reset1");
            var help = document.querySelector("#help");
            var score = 0;
            
            colorDisplay.textContent = pickedColor;

            help.addEventListener("click", function(){
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            	score = 0;
                document.getElementById("score").innerHTML = score;
            });
        
            [resetButton].forEach(function(element) {
               element.addEventListener("click", function() {
                	colors = generateRandomColors(numSquares);
                	//pick a new random color from array
                	pickedColor = pickColor();
                	colorDisplay.textContent = pickedColor;
                	for(var i = 0; i < squares.length; i++) {
                		squares[i].style.backgroundColor = colors[i];
                	}
                	setTimeout( function() { $(".square").removeClass("big"); $(".overlay").hide() }, 1 );
                	banner.style.backgroundColor = "#232323";
               });
            });
                        
            [resetButton1].forEach(function(element) {
               element.addEventListener("click", function() {
                	colors = generateRandomColors(numSquares);
                	//pick a new random color from array
                	pickedColor = pickColor();
                	colorDisplay.textContent = pickedColor;
                	for(var i = 0; i < squares.length; i++) {
                		squares[i].style.backgroundColor = colors[i];
                	}
                	setTimeout( function() { $(".square").removeClass("big"); $(".overlay").hide() }, 1 );
                	score = 0;
                	document.getElementById("score").innerHTML = score;
                	banner.style.backgroundColor = "#232323";
               });
            });
        
            for(var i = 0; i < squares.length; i++){
            	squares[i].style.backgroundColor = colors[i];
            	squares[i].addEventListener("click", function(){
            		var clickedColor = this.style.backgroundColor;
            		if (clickedColor === pickedColor) {  
            		    $(".wrong").hide();
            		    $(".overlay").show();
            		    $(".correct").show();
                        me = this;
                        setTimeout( function() { $(me).addClass("big"); }, 1 );
            			score ++;
                        document.getElementById("score").innerHTML = score;
            			banner.style.backgroundColor = clickedColor;
            		} else {
            		    $(".correct").hide();
            		    $(".overlay").show();
                        $(".wrong").show();
            		    me = this;
                        setTimeout( function() { $(me).addClass("big"); }, 1 );
                        document.getElementById("score").innerHTML = score;
                        document.getElementById("score1").innerHTML = score;
            			banner.style.backgroundColor = clickedColor;
            			score = 0;
            		}
            	});
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
              document.getElementById("main").style.marginLeft = "0";
            }
            
            function pickColor(){
            	var random = Math.floor(Math.random() * colors.length);
            	return colors[random];
            }
            
            function generateRandomColors(num){
            	var arr = [];
            	for (var i = 0; i < num; i++) {
            		arr.push(randomColor());
            	}
            	return arr;
            }
            
            function randomColor() {
            	//pick a "red" from 0 - 255
            	var r = Math.floor(Math.random() * 256);
            	//pick a "green" from 0 - 255
            	var g = Math.floor(Math.random() * 256);
            	//pick a "blue" from 0 - 255
            	var b = Math.floor(Math.random() * 256);
            	return "rgb(" + r + ", " + g + ", " + b +")";
            }
        </script>
    </body>
</html>