body {
	background-color: #232323;
	font-family: "Montserrat", "Avenir";
}

.overlay {
	display: none;
	position: absolute;
    width: 100%;
    z-index: 9;
}

.correct, .wrong {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50vh;
	display: none;
}

h1 {
	color: white;
	text-align: center;
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
	letter-spacing: 2px;
}

.after {
	background: none;
}

.scoreAfter {
	font-size: 20px;
	color: white;
	font-weight: 500;
	margin-bottom: 20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav p {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn:hover {
	text-decoration: none;
}

#main {
  transition: margin-left .5s;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

button, #scoreDisplay {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
}

.selected {
	color: white;
	background: steelblue;
}

#colorDisplay {
	font-size: 170%;
	font-family: "Rubik";
	letter-spacing: 2px;
}


button:hover {
	color: white;
	background: steelblue;
}

button:focus {
	outline: none;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: green;
}

#scoreDisplay {
	margin-left: 30%;
}

.info {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 30px;
}

.big {
    -webkit-transform: scale(20);
    transition: transform 1.5s ease;
}


#container {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.square {
	float: left;
	margin: 0 1.66%;
	min-width: 130px;
	min-height: 130px;
	font-size: 74px;
	border-radius: 15%;
	overflow: visible;
	text-align: center;
	transition-timing-function: ease;
	transition-duration: 0.7s;
}	

#reset, #reset1 {
	border: 2.5px solid white;
	border-radius: 10%;
	padding: 8px;
	color: white;
}

#reset, #reset1:hover {
	background: none;
}

@media screen and (max-width: 450px) {
	.square {
		min-width: 120px;
		min-height: 120px;
		margin-bottom: 50px;
	}
	
	.wrong, .correct {
		margin-top: 42vh;
	}
	
	#colorDisplay {
		font-size: 110%;
	}
}
